<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.mapper.FollowingGroupMapper">

    <resultMap id="BaseResultMap" type="com.bilibili.domain.FollowingGroup">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,name,
        type,createTime,updateTime
    </sql>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_following_group
        where id = #{id}
    </select>

    <select id="getByType" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_following_group
        where type = #{type}
    </select>

    <select id="getByUserId" resultType="com.bilibili.domain.FollowingGroup" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_following_group
        where userId = #{userId} or type in ('0','1','2')
    </select>

    <select id="getUserFollowingGroups" resultType="com.bilibili.domain.FollowingGroup" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_following_group
        where userId = #{userId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_following_group
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bilibili.domain.FollowingGroup"
            useGeneratedKeys="true">
        insert into t_following_group
        ( id, userId, name
        , type, createTime, updateTime)
        values ( #{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}
               , #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="addFollowingGroup" parameterType="com.bilibili.domain.FollowingGroup" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_following_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">userId,</if>
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">createTime,</if>
            <if test="updateTime != null">updateTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bilibili.domain.FollowingGroup">
        update t_following_group
        <set>
            <if test="userId != null">
                userId = #{userId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bilibili.domain.FollowingGroup">
        update t_following_group
        set userId     = #{userId,jdbcType=BIGINT},
            name       = #{name,jdbcType=VARCHAR},
            type       = #{type,jdbcType=VARCHAR},
            createTime = #{createTime,jdbcType=TIMESTAMP},
            updateTime = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
